# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Joseph W. Pollard
	email = joseph.w.pollard@gmail.com
[core]
	autocrlf = input
[credential]
	credentialStore = secretservice
